@model LogicUniversityTeam5.Models.CombinedViewModel

@{
    ViewBag.Title = "AppointDepartmentRep";
}
@using (Html.BeginForm("AppointDepartmentRep", "AppointDepartmentRep", FormMethod.Post))
{
<body>
    <div class="container">
        @{ if (Request.Params["isAppointDepartmentRep"] != null)
            {
                if (Request.Params["isAppointDepartmentRep"].Equals("True"))
                {
                    <div class="row justify-content-md-center pb-2">
                        <div class="alert alert-success col-8">
                            <div class="row justify-content-md-center pb-2">
                                <strong>Success!</strong>&nbsp; New representative Appointed
                            </div>
                        </div>
                    </div>
                }
            }
        }

            <div class="row justify-content-md-center pb-5">
                <h1 class="text-center mb-3">Appoint Department Representative</h1>
            </div>
            <div class="row justify-content-md-center pb-5">
                <div class="col-8">
                    <form>
                        <div class="form-group text-center pb-5">
                            <strong>Current Department Representative:</strong> @Model.DepartmentRepresentative[0].Employee.EmployeeName
                        </div>
                    </form>
                    <form>
                        <div class="form-group text-center">
                            <label for="Delegatedperson" >Choose Another Department Representative</label>

                            @{List<SelectListItem> Employee = new List<SelectListItem>();
                                Employee.Add(new SelectListItem { Text = "Please select employee".ToString(), Value = "".ToString(), Selected = true });
                                foreach (var emp in Model.Employee)
                                {
                                    string output = emp.EmployeeName.ToString();
                                    Employee.Add(new SelectListItem { Text=output,Value=output});
                                }
                            }       
                            @Html.DropDownListFor(m => Model.AddedText[0], Employee, new { @class = "form-control mx-auto" , @id="employee"})
                 

                        </div>
                    </form>
                </div>
            </div>
            <div class="row justify-content-md-center pt-5">

                <div class="col-4 text-right">
                    <button type="submit" value="" class="btn btn-primary" onclick="return Validate();" id="confirm" name="confirm">Confirm</button>
                </div>

                <div class="col-4 text-left">
                    <button type="button" id="home" class="btn btn-secondary ">Home</button>
                </div>
            </div>

            <script type="text/javascript">
                   $(function(){
                   $("#home").click(function(){
                   window.location.href = "@Url.Action("Index","Home")";
                               });
                });
                function Validate() {
                    console.log("hello");
                    var orderid = document.getElementById("employee");
                    if (orderid.value == "") {
                        //If the "Please Select" option is selected display error.
                        alert("Please select an option!");
                        return false;
                    }
                    return true;
                }

                $('#confirm').on("click", function () {
                    console.log($('#employee').val());
                    $(this).val($('#employee').val());
                })
            </script>

        </div>
</body>
}

