@model IEnumerable<ServiceLayer.DataAccess.RequisitionDetail>

@{
    ViewBag.Title = "ViewStationaryRequestForm";
}

<div class="container">
    <h1 class="text-center pb-5">Stationery Requisition Form</h1>
    <div class="row justify-content-md-center pt-3 pb-3">
        <div class="col-8 text-center">
            <table id="StationeryRequisitionForm" class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Unit of Measure</th>
                        <th scope="col" class="text-center">Quantity Request</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Item.ItemName)</td>
                            <td>@Html.DisplayFor(m => item.Item.UnitOfMeasure)</td>
                            <td>@Html.DisplayFor(m => item.Quantity)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-md-center mt-5 pt-1">
        <div class="col-8 text-center">
            @Html.ActionLink("Back", "SearchRequisitionForm", new { id = Model.First().Requisition.EmployeeID }, new { @id = "btn_back", @class = "btn btn-secondary" })
        </div>
    </div>
</div>