
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="https://cdn.dribbble.com/users/1435254/screenshots/3809527/pencilclip_1x.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Logic Stationeries
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ManageMonthlyStockDiscrepancy","StockAdjustment")">Manage Discrepancy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ReceivedPurchaseOrdersList", "ViewReceivedOrdersList")">View Purchase Order History</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Generate Report
                    </a>
                    <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Requisition Quantity Analysis</a>
                        <a class="dropdown-item" href="#">Reorder Cost Analysis</a>
                    </div>
                </li>
            </ul>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" class="btn btn-outline-secondary float-right mt-3" value="Logout" />
        }
        </div>
    </nav>
</body>