
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.dribbble.com/users/1435254/screenshots/3809527/pencilclip_1x.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Logic Stationeries
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage Discrepancy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Generate Report
                    </a>
                    <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Requisition Category Analysis</a>
                        <a class="dropdown-item" href="#">Requisition Item Analysis</a>
                        <a class="dropdown-item" href="#">Reorder Cost Analysis</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-sm btn-outline-secondary" href="#">Logout</a>
            </form>
        </div>
    </nav>
</body>